.header {
    width: 100%;
    background-color: rgba(40, 163, 126, 1);
    color: #FFFBEC;
    height: 80px;
}

.content {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.logo {
    align-self: center;
    width: fit-content;
}

a {
    color: #FFFBEC;
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    padding-top: 10px;
}

li {
    margin: 0 10px;
}