<div class="container">
    <h1>Welcome to Currency Info!</h1>
    <div class="p-container">
        <p>
            <b>Currency Info</b> a simple currency converter that allows you to quickly check the latest currency exchange rates. You can see the latest Exchange Rate or for any historical date.
        </p>
        <p>
            In addition you can see how the exchange rate for any currncy develop in comparason to <b>Euro</b> for a time period in a chart.
        </p>
    </div>
    <div class="buttons">
        <button routerLink="/calculator">Exchange Calculator</button>
        <button routerLink="/chart">Exchange Rate Chart</button>
    </div>
</div>